// PRICING SECTION
mixin list(value, ...items)
            ul(class=value)
                each item in items
                    li= item


mixin cardPrice(src, cTitle, cSubT, btn)
    .price-card
        .price-card__container 
            .price-card__content
                .price-card__img 
                    img.price-card__icon(src= src, alt="img")
                .price-card__name
                    h3.price-card__title= cTitle 
                    p.price-card__subtitle!= cSubT 
            +list('price-card__list', 'Free e-book for every class', 'Materials update every day', 'Free download material videos', 'Unlock 5 material videos')
            .price-card__button
                button.price-card__btn(type='submit')= btn 

section.price.container 
    h2#price.price-title Course Pricing
    p.price-subtitle Choose pricing that suits to your need.
    .price-cards 
        +cardPrice('assets/images/star.svg', 'Free', '<span>$</span> <span>0</span> / month', 'Your Current Package')
        









//    mixin list(id, ...items)
            ul(id=id)
                each item in items
                    li= item

    +list('my-list', 1, 2, 3, 4)
    +list('my-list', 1, 2, 3, 4, 5, 6)